<template>
  <main class="container">
  <h1>Trivia</h1>
  <!--<form></form> -->
  <form @submit.prevent="onGetQuestionsSubmit" class="mb-3">
    <fieldset class="mb-3">
      <label for="category" class="form-label">Category</label>
      <select class="form-select" v-model="selectedCategory">
        <option value="">Any Category</option>
        <option v-for="category of categories" 
        :value="category"
        :key="category.id">
          {{ category.name  }}
        </option>
      </select>
    </fieldset>

    <fieldset class="mb-3">
      <label for="amount" class="form-label">Number of Questions</label>
      <select class="form-select" v-model="selectedAmount">
        <option value="">--SELECT AMOUNT OF QUESTIONS--</option>
        <option v-for="amount of amount" :key="amount">
          {{ amount }}
        </option>
      </select>
    </fieldset>

    <fieldset class="mb-3">
      <label for="difficulty" class="form-label">Difficulty</label>
      <select class="form-select" v-model="selectedDifficulty">
        <option value="">Any Difficulty</option>
        <option v-for="difficulty of difficulties" :key="difficulty">
          {{ difficulty }}
        </option>
      </select>
    </fieldset>

    <button type="submit" class="btn btn-primary btn-lg">START QUIZ</button>
  </form>

  <section class="alert alert-danger" v-if="error">
    <h4>Hang on!</h4>
    <p class="mb-0">{{ error }}</p>
  </section>
  </main>
</template>

<script>
import { setConfig } from "../utils/config";

export default {
  name: 'ConfigureQuiz',
  methods: {
    onGetQuestionsSubmit() {
      this.error = "";

      if(!this.selectedAmount) {
        this.error = "Please select amount of questions."
        return;
      }

      setConfig({
        category: this.selectedCategory,
        amount: this.selectedAmount,
        difficulty: this.selectedDifficulty
      });
      //redirect
      this.$router.push("/quiz")
    },
  },
  data() {
    return {
      error: "",
      selectedCategory: "",
      selectedAmount: "",
      selectedDifficulty: "",
      categories: [
        {
          id: "9",
          name: "General Knowledge",
        },
        {
          id: "10",
          name: "Entertainment: Books",
        },
        {
          id: "11",
          name: "Entertainment: Film",
        },
        {
          id: "12",
          name: "Entertainment: Music",
        },
        {
          id: "13",
          name: "Entertainment: Musicals & Theatres",
        },
        {
          id: "14",
          name: "Entertainment: Television",
        },
        {
          id: "15",
          name: "Entertainment: Video Games",
        },
        {
          id: "16",
          name: "Entertainment: Board Games",
        },
        {
          id: "17",
          name: "Science & Nature",
        },
        {
          id: "18",
          name: "Science: Computers",
        },
        {
          id: "19",
          name: "Science: Mathematics",
        },
        {
          id: "20",
          name: "Mythology",
        },
        {
          id: "21",
          name: "Sports",
        },
        {
          id: "22",
          name: "Geography",
        },
        {
          id: "23",
          name: "History",
        },
        {
          id: "24",
          name: "Politics",
        },
        {
          id: "25",
          name: "Art",
        },
        {
          id: "26",
          name: "Celebrities",
        },
        {
          id: "27",
          name: "Animals",
        },
        {
          id: "28",
          name: "Vehichles",
        },
        {
          id: "29",
          name: "Entertainment: Comics",
        },
        {
          id: "30",
          name: "Science: Gadgets",
        },
        {
          id: "31",
          name: "Entertainment: Japanese Anime & Manga",
        },
        {
          id: "32",
          name: "Entertainment: Cartoon & Animations",
        },
        // This doesn't work... YET this.getAllCategories()
      ],
      difficulties: [
        "easy",
        "medium",
        "hard",
      ],
      amount: [
        "10",
        "20",
        "30",
        "40",
        "50",
      ]
    }
  },
}
</script>

<style>

</style>