<template>
  <li class="question-card">
    <section class="question-card__body">
      <h4 class="question-card__title">{{ question.question }}</h4>
    </section>
  </li>
</template>

<script>
export default {
  name: "QuestionCard",
  props: {
    question: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style scoped>
</style>