<!-- UNDER CONSTRUCTION -->
<template>
    <main class="container">
        <!-- Display how the score the user got (x of y) -->
        <!-- Ask the user if they want to play again with same category or change configuration -->
        <ul>
        <QuestionCard v-for="question in questions.results" :key="question.results" :question="question" />
        </ul>
        <!--<h2 class="question-card_question">{{ question.question }}</h2> -->
        <button type="submit" @click="onConfigureClick" class="btn btn-primary btn-lg">Back to configure</button>
        <button type="submit" @click="onScoreboardClick" class="btn btn-primary btn-lg">Scoreboard</button>
    </main>
</template>

<script>
import { getConfig } from '../utils/config';
import { getQuestions } from '../api/triviaAPI';
import QuestionCard from './QuestionCard.vue'
export default {
name: 'Quiz',
components: {
    QuestionCard,
},
async created() {
    const config = getConfig()

    if(config === null) {
        this.$router.push("/");
        return;
    }
     try {
      this.questions = await getQuestions(config.category.id, config.difficulty, config.amount);
      console.log(this.questions);
    } catch (error) {
      this.error = error.message;
    }
},
data() {
    return {
        error: "",
        questions: [],
    }
},
methods: {
    onConfigureClick() {
        this.$router.push("/");
    },
    onScoreboardClick() {
        this.$router.push("/score");
    },
}
}
</script>

<style scoped>
.button {
    padding: 10px;
}
</style>