<template>
    <main class="container">
<!-- UNDER CONSTRUCTION -->
<!-- Need header for question -->
<!-- Check if question is of type true/false or multiple choice -->
<!-- Display 2 or 4 buttons depending on question id -->
        <button type="submit" @click="onPlayAgainClick" class="btn btn-primary btn-lg">Play Again</button>
    </main>
</template>
 
<script>
export default {
    name: "Scoreboard",
    methods: {
        onPlayAgainClick() {
            this.$router.push("/");
        },
    }
    
}
</script>

<style scoped>

</style>